set system host-name {{ inventory_hostname }}
set system auto-snapshot
set system time-zone Europe/Moscow
set system root-authentication encrypted-password "$1$XKJP38km$vJXrzuKZKW1NzPrJsHJmp1"
set system login user admin uid 2004
set system login user admin class super-user
set system login user admin authentication encrypted-password "$1$zzeM/kdJ$uQCymArL6Mv9O4R/YIXgh/"
set system services ssh client-alive-count-max 100
set system services ssh client-alive-interval 3600
set system services ssh connection-limit 10
set system services dhcp traceoptions file dhcp_logfile
set system services dhcp traceoptions level all
set system services dhcp traceoptions flag all
set system syslog user * any emergency
set system syslog file messages any notice
set system syslog file messages authorization info
set system syslog file interactive-commands interactive-commands any
