set vlans Internet vlan-id 50
set vlans Internet l3-interface vlan.50
set vlans MGMT vlan-id 20
set vlans MGMT l3-interface vlan.20
set vlans default l3-interface vlan.0

set vlans Internet vlan-id 50
set vlans Internet l3-interface vlan.50
set vlans MGMT vlan-id 20
set vlans MGMT l3-interface vlan.20
set vlans default l3-interface vlan.0
